body {
max-width: 60em;
margin: 0 auto 0 auto;
h1 {background-color: coral;}
h2 {background-color: blue;}
p {background-image: radial-gradient(coral, green, blue, coral, green, blue);}
}

table, th, td {
background-image: url("../images/poe.jpg")
border-collapse: collapse;
border: 3px solid #000;
border-color: green;
padding: 1em;
}
